.jumbotron{
    color: black;
    margin-top: 38px;
    background-image: linear-gradient(rgba(24, 49, 17, 0.486),rgba(34, 40, 39, 0.199));
}
.banner-container{
    width: 100%;
    min-height: 100vh;
    margin-top: 50px;
    background-image: url(../imagenes/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.banner-container::before{
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    background-image: linear-gradient(rgba(58, 97, 48, 0.219),rgba(34, 40, 39, 0.486));
}
.text-herader{
    min-height: 30vh;
    margin-top: 90px;
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: linear-gradient(rgba(24, 49, 17, 0.486),rgba(34, 40, 39, 0.199));
}



.container{
    background-color: rgba(0, 100, 0, 0.055);
    box-shadow: rgb(0, 100, 0) 2px 0px 12px 0px;
    padding: 30px;
}
.img-slide{
    width: 100%;
    height: 400px;
}

.img-slide img{
    width: 900%;
    height: 400px;
}

.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;       
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}


/*------/ estilos de precios.html /------------*/
.tab-content{
    margin-top: 10px;
    padding: 5px;
    
}



footer{
    padding: 10px 10px 0px 10px;
   /* background-color: rgb(205, 209, 148);*/
    margin-bottom: 0px;
    margin-top: 40px;
    background-image: linear-gradient(rgba(24, 49, 17, 0.486),rgba(34, 40, 39, 0.199));
}
.espacio-icon{
    padding-right: 10px;
}